:root {
    --surfaced-color: #f5f5f5;
    --font-color: #6c6c6c;;
    --text-color-primary: #36363631;

    
    --font-family: 'Poppins', poppins, sans-serif;
    --text-lg: bold 32px/125% var(--font-family);
    --text: 16px/1.5 var(--font-family);
    --text-md: 14px/170% var(--font-family);
    --text-sm: 12px/170% var(--font-family);

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-);
    background-color: var(--surfaced-color);
    color: var(--font-color);
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    text-decoration: none;
    color: inherit;
}
h1 , h2, h3, h4, h5, h6 {
    text-decoration: none;
    color: inherit;
}

nav {
    font-family: var(--font-family);
    background-color: var(--surfaced-color);
    display: flex;
    justify-content: space-between; 
    align-items: center;
    line-height: 0;
    padding-block: 20px;
}
nav ul {
    gap: 24px;
    padding-block:  8px;
}
nav ul {
    display: flex;
    list-style-type: none;
    overflow: hidden;
}
nav ul li {
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: center;
}
nav ul li .explorar {
    width: 20px;

}
nav ul li:last-child img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}
span {
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--font-color);
    font: var(--text-md);
}

nav ul a:hover {
    color: #f06654;
    background-color: var(--surfaced-color);

}
nav a .logo {
    padding-block: 8px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.container {
    max-width: 1820px;
    margin-inline: auto;
    display: flex;
    background-color: var(--surfaced-color);
}
.bgcolor {
    background-color: var(--surfaced-color);
}

header {
    background-color: var(--surfaced-color);
    padding-block: 32px;
    display: flex;
    align-items: center;
    line-height: 0;
}
header .container {
    display: flex;
    justify-content: space-between; 
}


#perfil{
    padding-right:0;
    padding-right: 872px;
    object-fit: cover;
    display: flex;
    align-items: center;
    gap: 32px;
}

#perfil > div {
    max-width: 384px;
}
#perfil h1 {
    font: var(--text-lg);
    color: var(--font-color-primary);
    margin-bottom: 8px;
}
#perfil p {
    font: var(--text-sm);
}
#info {
    list-style-type: none;

    padding-right: 128px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

#info li {
    display: flex;
    gap: 8px;
}
main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-block: 24px;
}

main img{
    width: 286px;
    height: 286px;
    object-fit: cover;
}
